node_modules
src/node_modules/*
src/public/hot
src/public/storage
src/public/css/
src/public/js/
src/public/fontawesome/css/
src/public/mix-manifest.json
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
db
vendor


ぷが