// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//base color
$font-color: rgba(0, 0, 0, 0.5);
$border-color: rgba(0, 0, 0, 0.3);

//btn
$login-btn: #bcebec;